body{
    background-color: black;
  }

.h1{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
}

/* .carousel-inner{
  margin-left: 15%;
} */

.navbar{
    background-color: black;
    height: 15%;
}

.navbar-brand{
  color:whitesmoke;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  font-family:cursive;
}

.navbar-brand:hover{
    background-color: transparent;
    color:yellow;
    transition: 1.1s;
}


.nav-link{
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.nav-link:hover{
    text-decoration:overline;
    color: yellow;
    font-weight: bold;
    border-radius: 10px;
    
}



.btn{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background:transparent;
    border-color: yellow;
}


.btn:hover{
    background-color:yellow;
    color: black;
    transition: 0.4s;
    border-radius: 10px;
}



.card{
  background-color: black;
  border-width: 2px;
  color:blanchedalmond;
  border-color: blanchedalmond;
  text-align: justify;

}

.card-title{
  text-align: center;
  text-decoration: overline;
}

.footer {
  background: #181716;
  padding-top: 90px;
  margin-top: 90px;
}
.footer h2 {
 color: #fff;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}
.footer .address h3 {
  color: #fff;
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-bottom: 3px;
  border-bottom: #ff0000 solid 4px;
  margin-bottom: 20px;
  width: 160px;
}
.location_section {
  background-color: #fff;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 20px 35px;
}
.news {
 padding-bottom: 50px;
  padding-top: 15px;
}
.news .newslatter {
  padding: 14px 15px;
  box-shadow: inherit;
  width: 70%;
  font-size: 19px;
}
.submit {
 padding: 14px 45px;
  border: yellow solid 1px;
  background: black;
  color: #fff;
  margin-left: -5px;
  font-weight: 500;
  font-size: 19px;
  max-width: 271px;
  width: 100%;
}
.submit:hover {
  background: yellow;
  
  transition: 0.5s;
  color:black;
  border: black solid 1px;
}

.copyright {
  padding: 20px 0px;
  margin-top: 55px;
  background-color: #fff;
}
.copyright p {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-top: #fff solid 1px;
}
.copyright a {
  color: #000;
}
.copyright a:hover {
  color: #f00;
}

.social-links a {
  font-size: 30px;
  display: inline-block;
  background: black;
  color: whitesmoke;
  /* line-height: 1; */
  padding: 8px 0;
  /* margin-right: 4px; */
  border-radius: 4px;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.social-links a:hover {
  background: yellow;
  color: #151515; 
  text-decoration: none;
}
